{{ define "main" }}
    <header>
        <h2>{{ .Title }}</h2>
        <p>{{ .Description }}</p>
        {{ if .Site.Params.show_post_dates | default true }}
            {{- with .Params.publishDate }}

                {{/* Need to preprocess .publishDate to add possibly missing leading 0: e.g. make "2023-10-1" into "2023-10-01" */}}
                {{ $dateParts := strings.Split . "-" }}
                {{ $cleanDate := newScratch }}
                {{ $cleanDate.Set "out" "" }}
                {{ range $idx, $item := $dateParts }}
                    {{ if ne $idx 0 }} {{ $cleanDate.Add "out" "-" }} {{ end }}
                    {{ if eq (len $item) 1 }}
                        {{ $cleanDate.Add "out" "0" }}
                    {{ end }}
                    {{ $cleanDate.Add "out" $item}}
                {{ end }}

                <time>{{ time.AsTime ($cleanDate.Get "out") | time.Format ":date_full" }}</time>
            {{ end }}
        {{ end }}
        {{ partial "tags.html" . }}
    </header>

    {{- with .Params.image }}
        <span class="image featured"><img src="{{ with page.Resources.Get . }}{{ .RelPermalink }}{{ end }}" alt="{{ page.Params.image_alt }}" /></span>
    {{ end }}

    {{- .Content }}
    
    {{ with .Pages }}
        <h3>Pages apparentées :</h3>
        {{ with (where . ".Params.type" "playmaterial") }}
            <h4>Matériel de jeu pour {{ page.Title }}</h4>
            <ul>
            {{ range . }}
                <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
            {{ end }}
            </ul>
        {{ end }}
        {{ with (where . ".Params.type" "ne" "playmaterial") }}
            <h4>Autres pages</h4>
            <ul>
            {{ range . }}
                <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
            {{ end }}
            </ul>
        {{ end }}
    {{ end }}
{{ end }}
