{{ define "main" }}
{{ $organizationPage := . }}
  <h2>{{ .Title }}</h2>

  {{ with .Params.image }}
  <span class="image featured"><img src="{{ . }}" /></span>
  {{ end }}

  {{ with (where site.Pages "Params.type" "person") }}

    <h3>Membres :</h3>
    <ul>
      {{ range . }}
        {{ $personPage := . }}
        {{ with .Params.affiliations }}
          {{ with (where (where . "current" true) "organization" $organizationPage.File.ContentBaseName)  }}
            <li>
              <a href="{{ $personPage.Permalink }}">{{ $personPage.Title }}</a>
              {{ range $k, $v := (where . ".role" "ne" "") }}{{with $k}} ; {{end}}{{ $v.role }}{{end}}
            </li>
          {{ end }}
        {{ end }}
      {{ end }}
    </ul>
  {{ end }}

  {{ with .Content }}
    <h3>À propos</h3>
    {{ . }}
  {{ end }}

  {{ with .Pages }}
    <h3>Pages apparentées :</h3>
    {{ range . }}
      <h4><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h4>
    {{ end }}
  {{ end }}
{{ end }}