{{ define "main" }}
    <header>
        <h2>{{ .Title }}</h2>
        <p>{{ .Description }}</p>

        {{- partial "page_subheader.html" . }}
    </header>

    {{- with .Params.image }}
        <span class="image featured"><img src="
            {{- with page.Resources.Get . }}
                {{ .RelPermalink }}
            {{- else }}
                {{ . | relURL }}
            {{- end }}
        " /></span>
    {{- end }}

    {{- .Content }}

    {{ with .Resources.ByType "image" }}
        {{ partial "gallery.html" . }}

    {{ end }}
{{ end }}
